@charset "utf-8";

.content2{
    height:1543.2px;
    background-color: rgb(235, 168, 168);
}
/* contents 제목부분 */
.content2 h3{
    display: inline-block;
    width: 100%;
    height: 26.391px;
    padding-top: 60px;
    padding-bottom: 28px;
    background-color: aliceblue;
    font-size:20px;
    color: rgb(61, 70, 103);
    letter-spacing:0.5px;
}

/* 왼쪽 콘텐츠 */
.content_left{
    width:930px;
    height:1310.72px;
    background-color: salmon;
}

/* 왼쪽 콘텐츠의 큰 틀 */
.grid{
    width: 100%;
    height: 1195.72px;
    background-color: seagreen;
}
/* 그리드 하나하나의 요소 */
.grid_item{
    width: 260px;
    height:358.579px;
    margin-right: 50px;
    margin-bottom: 40px;
    background-color: thistle;
}
.grid_item a {
    display: block;
    width: 100%;
    height: 100%;
}
/* 그리드 하나에 들어갈 사진 */
.grid_item_img{
    width: 100%;
    height: 258px;
}
.grid_item_img img{
    width: 100%;
    height: 100%;
}

/* 부제목 */
.grid_item_txt{
    width: 100%;
    height:63.578px;
    padding-top:17px;
    padding-bottom:20px;
}
.cate{
    display: inline-block;
    width: 100%;
    height:14.391px;
    margin-bottom: 10px;
    color: rgb(142,142,142);
    font-size:12px;
    font-stretch: 500;
}
.subtitle::before{
    position: absolute;
    content:"";
    display: block;
    width: 12px;
    height: 0px;
    border: 1px solid rgb(61, 70, 103);
    left:0px;
    top:4px;
}
.subtitle{
    display: inline-block;
    position:relative;
    width: 242px;
    height: 39.188px;
    padding-left: 18px;
    font-size: 14px;
}

