@charset "utf-8";

.form-horizontal{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 246, 247);
    margin: 0 auto;
    padding-top: 10px;
}
.form-group{
    width: 300px;
    /* background-color: beige; */
    margin: auto;
    margin-bottom: 10px;
}
.col-md-2{
    display: block;
    font-size:10px;
    
    padding-top: 5px;
    margin-bottom: 4px;
    text-indent: 50px;

    font-weight: bold;
}

.logo{
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-bottom:10px;
    
}

.logo a{
    display: block;
    
    width: 200px;
    height: 40px;
    border: none;
    
}
.logo-img{
    width: 180px;
    height: 40px;
    margin: 0 auto;
    background-image: url('/createid/2.png');
    background-size: cover;
    border: none;
}




.form-control{
    display: block;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #fff;
   
    text-align: left;
}

.option{
    display: block;
    width: 207px;
    margin: auto;
    border: 1px solid #fff;

}

.birthday{
    display: block;

    width: 205px;
    margin: 0 auto;
}

.user_birth{
    width: 25%;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #fff;
}
.user_birth1{
    text-indent: 3px;
}
.user_birth_option{
    width: 40%;
    height: 22px;
    margin-right: 5px;
}
.user_day{
    width: 16%;
    height: 18px;
    margin: 0px;
}

.user_birth::placeholder{
    text-align: left;
    font-size: 10px;
}
.user_day::placeholder{
    text-align: left;
    font-size: 10px;
}
.user_email::placeholder{
    font-size: 10px;
}
.user_cellphone::placeholder{
    font-size:10px;
}

.text-center{
    display: block;
    text-align: center;
}

.option{
    text-align: left;
    font-size: 10px;
    height: 20px;
}
.cellphone_group{
    width: 204px;
    height: 60px;
    background-color: rgb(108, 70, 70);
}
.user_cellphone{
    width:60%;
    height:18px;
    margin-right: 10px;
}

.btn{
    width:80px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 10px;
}